@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4em;
    transition: all;
    transition-duration: 500ms;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 5px;
    overflow: auto;
}

aside {
    float: right;
    width: 25%;
}

h2,
h3 {
    color: #189AB4;
}

p {
    text-align: justify;
}

#content {
    float: left;
    width: 75%;
}

.card {
    box-shadow: 0px 4px 8px 0 slategrey;
    border-radius: 5px;
    padding: 20px;
    margin: 5px 10px 0 10px;
}

/* Sembunyikan */
.hidden {
    display: none;
}

/* Header design start */
header {
    display: inline;
}

#judul {
    text-align: center;
    color: white;
    background-color: #75E6DA;
    padding: 50px;
    transition: all;
    transition-duration: 500ms;
}

.dark .dark\:#judul {
    background-color: #05445E;
}

/* Navigation design start */
nav {
    background-color: #189AB4;
    padding: 5px;
    position: sticky;
    top: 0;
    overflow: auto;
    transition: all;
    transition-duration: 500ms;
    z-index: 9999;
}

.dark .dark\:#navigation {
    background-color: #1A1A1A;
}

#tab-menu ul {
    width: fit-content;
    float: left;
}

#tab-menu li a {
    color: #75E6DA;
    background-color: #05445E;
    padding: 10px;
    border-radius: 100px;
    transition: all;
    transition-duration: 300ms;
}

#tab-menu li a:hover {
    color: #05445E;
    background-color: #D4F1F4;
    transition: all;
    transition-duration: 300ms;
}

#tab-menu li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
    margin-top: 10em;
}

#tab-menu a {
    text-decoration: none;
}
/* Navigation design end */

/* Float menu design start */
#float-menu {
    background-color: #75E6DA;
    width: 200px;
    height: fit-content;
    border-radius: 10px;
    margin: 0.5em;
    padding: 0.5em;
    right: 1em;
    transition: all;
    transition-duration: 300ms;
}

.float-menu {
    position: absolute;
}

.float-menu-fixed {
    position: fixed;
    z-index: 9999;
    top: 4em;
}

#float-menu li {
    margin: 1em;
    list-style-type: none;
}

#float-menu li a {
    color: #189AB4;
    background-color: transparent;
    text-decoration: none;
    transition: all;
    transition-duration: 300ms;
}

#float-menu li a:hover {
    color: white;
    transition: all;
    transition-duration: 300ms;
}

.dark .dark\:#float-menu {
    background-color: #05445E;
}
/* Float menu design end */
/* Header design end */

/* Dark mode toggle design start */
/* Icon Dark Mode */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20
}

button {
    background-color: transparent;
    border: transparent;
}

div span {
    cursor: pointer;
}

#darkToggle {
    display: none;
}

#darkMode {
    float: right;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-right: 2em;
    width: fit-content;
}

.dark {
    background: black;
    color: white;
}
/* Dark mode toggle design end */

/* Hamburger design start */
#hamburger {
    float: right;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 1em;
    cursor: pointer;
    display: none;
}

.line-1 {
    transition: all ease-in-out;
    transition-duration: 300ms;
    transform-origin: top left;
}

.line-2 {
    transition-duration: 300ms;
    transition: all ease-in-out;
}

.line-3 {
    transition: all ease-in-out;
    transition-duration: 300ms;
    transform-origin: bottom left;
}

.line-1,
.line-2,
.line-3 {
    width: 30px;
    height: 0.15em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
    background-color: black;
    border-radius: 1000px;
    transition: all;
    transition-duration: 500ms;
}

.dark .dark\:line-1 {
    background-color: white;
}

.dark .dark\:line-2 {
    background-color: white;
}

.dark .dark\:line-3 {
    background-color: white;
}

.hamburger-active>.line-1 {
    transform: rotate(45deg);
}

.hamburger-active>.line-2 {
    transform: scale(0.0);
}

.hamburger-active>.line-3 {
    transform: rotate(-45deg);
}
/* Hamburger design end */

/* Lambang & makna lambang design start */
.logo {
    text-align: center;
}

.logo img {
    width: 200px;
}

.makna {
    display: flex;
    flex-wrap: wrap;
}

.makna-lambang {
    background-color: #D4F1F4;
    box-shadow: 0px 0px 5px slategrey;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    flex: 1 2 360px;
    transition: all;
    transition-duration: 500ms;
}

.makna-lambang:hover {
    scale: 105%;
}

.dark .dark\:makna-lambang {
    background-color: #05445E;
}
/* Lambang & makna lambang design end*/

/* Tempat wisata design start */
.photo {
    width: 100%;
    max-height: fit-content;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

#wisata {
    padding-bottom: 4em;
}

.tempat-wisata {
    margin-top: 4em;
}

.lokasi {
    color: #189AB4;
}

/* Maps button design start */
.maps {
    background-color: #75E6DA;
    border-style: none;
    border-radius: 100em;
    width: 10em;
    padding: 10px 20px 10px 20px;
    margin: 2em 0 2em 0;
    transition: all;
    transition-duration: 300ms;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: #05445E;
    display: flex;
    gap: 1em;
    justify-content: center;
}

.maps:hover {
    background-color: #D4F1F4;
    transition: all;
    transition-duration: 300ms;
}
/* Maps button design end */
/* Tempat wisata design end */

/* Biodata design start */
/* Profile photo design start */
figure {
    margin: 10px;
    text-align: center;
}

figure img {
    border-radius: 100%;
}

.profile-photo {
    width: 100%;
    max-width: 340px;
    object-fit: fit;
}
/* Profile photo design end */

#biodata {
    text-align: center;
}

#biodata p {
    text-align: center;
}

#biodata b {
    color: #189AB4;
}

/* Social media icon design start */
#social-media {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.social-media-icon-light, .social-media-icon-dark {
    width: 2em;
    height: 2em;
    object-fit: fit;
}
/* Social media icon design end */

/* Biodata design end */

/* Footer design start */
footer {
    background-color: #189AB4;
    margin-top: 1em;
    padding: 1em;
    text-align: center;
    font-size: small;
}

.dark .dark\:footer {
    background-color: #1A1A1A;
}
/* Footer design end */

/* Back to top button design start */
#back-to-top {
    text-align: center;
    border-radius: 9999px;
    bottom: 1rem;
    position: fixed;
    padding: 10px;
    width: 30px;
    height: 30px;
    z-index: 9999;
    right: 1em;
    background-color: #75E6DA;
    color: white;
    transition: all;
    transition-duration: 500ms;
}

#back-to-top:hover {
    background-color: #189AB4;
    transition: all;
    transition-duration: 500ms;
}

#back-to-top span {
    padding-top: 0.1em;
}
/* Back to top button design end */

@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }

    #biodata p {
        font-size: medium;
    }
}

@media (max-width: 737.6px) {
    #tab-menu ul {
        display: none;
    }

    #hamburger {
        display: block;
    }
}

@media (min-width: 737.6px) {
    #float-menu {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    #biodata p {
        font-size: x-small;
    }
}

@media screen and (min-width: 1250px) {
    #biodata p {
        font-size: small;
    }   
}

@media screen and (min-width: 1400px) {
    #biodata p {
        font-size: medium;
    }
}